.lib-table-container {
    width: 100%;
    /* margin: 20px auto; */
    font-family: Arial, sans-serif;
    font-size: 11px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    height: calc(100vh - 160px);
    overflow-y: auto;
}

.lib-button-container {
    position: absolute;
    top: 3px;
    display: flex;
    gap: 8px;
    right: 3px;
}

.lib-aggregate-btn {
    padding: 1px 10px;
    margin-bottom: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.lib-aggregate-btn:hover {
    background-color: #0056b3;
}

/* .lib-table-container scroll ga style */

/* Chrome, Edge va Safari uchun */
.lib-table-container::-webkit-scrollbar {
    width: 7px;
    /* scroll kengligi */
}

.lib-table-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* fon */
    border-radius: 10px;
}

.lib-table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    /* scroll tugmasi rangi */
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

.lib-main-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #00000054;
}

.lib-date-header {
    background-color: #e8f5fd;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #00000054;
}

.lib-column-header {
    background-color: #f0f0f0;
    text-align: center;
    font-weight: bold;
    padding: 8px 4px;
    border: 1px solid #00000054;
    vertical-align: middle;
}

.lib-row-material {
    background-color: white;
}

.lib-row-border {
    background-color: white;
    border-bottom: 2px solid #3d3d3d67 !important;
}

.lib-row-foil {
    background-color: #90EE90;
}

.lib-row-gas {
    background-color: #ffff00;
    border-top: 2px solid #3d3d3d67 !important;
}

.lib-row-blue {
    background-color: #87CEEB;
}

.lib-cell-empty {
    background: #fff;
    /* oq fon */
    border: 1px solid #00000054;
    /* chegarasi chiqib turishi uchun */
    min-width: 60px;
    /* katak kengligi */
    height: 28px;
    /* katak balandligi */
}

.lib-cell-left {
    text-align: left;
    padding: 2px 4px;
    border: 1px solid #00000054;
    font-weight: bold;
}

.lib-cell-right {
    text-align: right;
    padding: 2px 4px;
    border: 1px solid #00000054;
}

.lib-cell-center {
    text-align: center;
    padding: 2px 4px;
    border: 1px solid #00000054;
}

.lib-cell-price {
    color: #ff00ff;
    font-weight: bold;
    border: 1px solid #00000054;
}

.lib-cell-empty {
    background-color: #f8f8f8;
    border: 1px solid #00000054;
    padding: 2px 4px;
}

.lib-total-row {
    font-weight: bold;
    border: 1px solid #00000054;
    background-color: #f0f0f0;
}